{% extends "../base.html" %}
{% load static %}
{% block style %}

	<link rel="stylesheet" href="{% static 'css/style-login.css' %}">
{% endblock %}

{% block title%}
    Login
{% endblock %}

{% block body %}
	<!-- partial:index.partial.html -->
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingresar</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<!--Cuadro de Ingresar ya estando reguistrado -->
					<form action="#" method="POST"> 
                        {% csrf_token %}
                        <div class="group mb-2">
                            <label for="userlog" class="label">Usuario</label>
							<input type="text" id="userlog" name="txtuserlog" value="{{ usuario.usuario }}" class="form-control input" placeholder="Ingrese su usuario" maxlength="50" required>
                        </div>
                        <div class="group mb-2">
							<label for="passlog" class="label">Contraseña</label>
                            <input type="text" id="passlog" name="txtpasslog" value="{{ usuario.contraseña }}" class="form-control input" placeholder="Ingrese su contraseña" maxlength="50" required>
                        </div>
						<div class="group mb-2"> <!-- Esto tiene que ver algo sobre el cache del navegador -->
							<input id="check" type="checkbox" class="check" checked>
							<label for="check"><span class="icon"></span> Mantener la sesion abierta</label>
						</div>
                        <div class="group">
							<!--Le da diseño a boton de Sign up legra color input -->
                            <button class="button" type="submit" style="text-align: center">Ingresar</button>
                        </div>
                    </form>
					<div class="hr"></div> <!-- Barra de separacion -->
					<div class="foot-lnk">
						<a href="#forgot">Olvido su contraseña?</a>
					</div>
					
				</div>
				<!--Cuadro de Registrarse por primera ves: -->
				<div class="sign-up-htm">
					<form action="#" method="POST"> 
            			{% csrf_token %}
                	    <div class="group mb-2">
                	        <label for="userreg" class="label">Usuario</label>
							<input type="text" id="userlog" name="txtuserreg" value="{{ usuario.usuario }}" class="form-control input" placeholder="Ingrese su usuario" maxlength="50" required>
                	    </div>
                	    <div class="group mb-2">
							<label for="passreg" class="label">Contraseña</label>
                	        <input type="text" id="passreg" name="txtpassreg" value="{{ usuario.contraseña }}" class="form-control input" placeholder="Ingrese su contraseña" maxlength="50" required>
                	    </div>
						<div class="group mb-2">
							<label for="passrereg" class="label">Repetir contraseña</label>
                	        <input type="text" id="passrereg" name="txtpassrereg" value="{{ usuario.contraseña }}" class="form-control input" placeholder="Ingrese su contraseña" maxlength="50" required>
                	    </div>
						<div class="group mb-2">
							<label for="emailreg" class="label">Correo electronico</label>
                	        <input type="text" id="emailreg" name="txtemailreg" value="{{ usuario.email }}" class="form-control input" placeholder="Ingrese su contraseña" maxlength="50" required>
                	    </div>
                	    <div class="group">
							<!--Le da diseño a boton de Sign up legra color input -->
                	    	<button class="button" type="submit" style="text-align: center">Ingresar</button>
                	    </div>
            		</form>
					<div class="hr"></div>
					<div class="foot-lnk">
						<label for="tab-1">Ya estas registrado?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- partial -->
{% endblock %}

{% block scripts %}
{% endblock %}
